.categories-list {
	display: flex;
	overflow: auto;
	margin-bottom: var(--space-4);
}

.categories-list::-webkit-scrollbar {
	display: none;
}

.category-item {
	cursor: pointer;
	margin-right: var(--space-4);
	padding: var(--space-3) var(--space-4);
	border-radius: var(--space-5);
	background-color: var(--secondary-ui-color);
	transition: var(--primary-transition);
}

.category-item:hover {
	background-color: var(--primary-ui-color);
}

.category-item:first-child {
	background-color: var(--primary-ui-color);
}
