.header-overflow-fix {
	height: var(--header-height);
}

.header {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--header-height);
	background-color: var(--secondary-bg-color);
	padding: 0 var(--space-4);
}

.header::before {
	content: '';
	height: 300px;
}

.header > * {
	flex: 1;
}

.header button {
	padding: var(--space-4);
	color: var(--secondary-text-color);
	transition: var(--primary-transition);
}

.header button:hover {
	color: var(--primary-text-color);
}

.header__logo {
	height: 100%;
	display: flex;
	align-items: center;
	font-weight: var(--secondary-font-weight);
	font-size: var(--font-size-4);
	color: var(--primary-ui-color);
}

.header__logo-inner-wrapper {
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 100%;
}

.header__logo-inner-wrapper i {
	margin-right: var(--space-3);
}

.header__search-form {
	display: flex;
}

.header__search-form input[type='search'] {
	width: 100%;
	border: 2px solid var(--secondary-ui-color);
	border-radius: var(--space-3) 0 0 var(--space-3);
	padding: var(--space-3) var(--space-4);
	transition: var(--primary-transition);
}

.header__search-form input[type='search']:focus {
	border-color: var(--primary-ui-color);
}

.header__search-form button[type='submit'] {
	border-radius: 0 var(--space-3) var(--space-3) 0;
	background-color: var(--secondary-ui-color);
	color: var(--primary-text-color);
}

.header__search-form button[type='submit']:hover {
	background-color: var(--primary-ui-color);
}

.header__controls {
	display: flex;
	justify-content: flex-end;
}

.header__controls .header__avatar {
	border-radius: 100px;
	background-color: var(--primary-ui-color);
	color: var(--primary-text-color);
}

.header__dropdown {
	position: relative;
}

.header__dropdown:hover button {
	transform: rotate(-45deg);
}

.header__dropdown:hover .header__dropdown-wrapper {
	display: block;
}

.header__dropdown-wrapper {
	display: none;
	position: absolute;
	right: 0;
	width: 150px;
}

.header__dropdown-list {
	margin-top: var(--space-2);
	border-radius: var(--space-3);
	background-color: var(--secondary-bg-color);
	box-shadow: 0 0 10px var(--secondary-ui-color);
	overflow: hidden;
}

.header__dropdown-list li {
	cursor: pointer;
	padding: var(--space-3) var(--space-4);
	transition: var(--primary-transition);
}

.header__dropdown-list li:hover {
	background-color: var(--secondary-ui-color);
}

.header__dropdown-list li:last-child {
	border-top: 1px solid var(--secondary-ui-color);
	color: var(--danger-color);
}

.header__dropdown-list li i {
	margin-right: var(--space-2);
}

@media screen and (max-width: 1280px) {
	.header__search-form {
		flex: 2;
	}
}

@media screen and (max-width: 768px) {
	.header__logo span {
		display: none;
	}

	.header__search-form {
		flex: 3;
	}
}
