.side-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: var(--side-panel-width);
	height: 100%;
	background-color: var(--secondary-ui-color);
}

.channels-list {
	overflow: auto;
}

.channel-item,
.channel-item__info-wrapper {
	display: flex;
	align-items: center;
}

.channel-item {
	cursor: pointer;
	justify-content: space-between;
	padding: var(--space-4) var(--space-4);
	transition: var(--primary-transition);
}

.channel-item:hover {
	background-color: var(--tertiary-ui-color);
}

.channel-item__indicator {
	display: none;
}

.channel-item--active .channel-item__indicator {
	z-index: 2;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: var(--danger-color);
}

.channel-item__subscribers-counter {
	color: var(--secondary-text-color);
}

.side-panel__info {
	text-align: center;
	border-radius: var(--space-3);
	margin: var(--space-4);
	padding: var(--space-4);
	background-color: var(--tertiary-ui-color);
}

.side-panel__info ::selection {
	background-color: var(--primary-ui-color);
	color: var(--selection-text-color);
}

.side-panel__social {
	margin-top: var(--space-3);
}

.side-panel__social a {
	margin: 0 var(--space-3);
	color: var(--primary-text-color);
	transition: var(--primary-transition);
}

.side-panel__social a:hover {
	color: var(--primary-ui-color);
}

@media screen and (max-width: 1024px) {
	.side-panel {
		width: auto;
	}

	.channel-item__img-wrapper {
		margin-right: 0;
	}

	.channel-item__info-wrapper span {
		display: none;
	}

	.channel-item__subscribers-counter {
		display: none;
	}

	.side-panel__info {
		display: none;
	}
}
