.videos-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-auto-rows: auto;
	grid-gap: var(--space-4);
}

.video-item {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.video-item__preview {
	cursor: pointer;
	position: relative;
	height: 250px;
}

.video-item__preview-overlay {
	display: none;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

.video-item__preview:hover .video-item__preview-overlay {
	display: flex;
}

.video-item__preview:hover .video-item__viewers-count {
	display: none;
}

.video-item__preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-item__preview span,
.video-item__preview::after {
	position: absolute;
	font-size: var(--font-size-1);
	border-radius: var(--space-3);
	padding: var(--space-2) var(--space-3);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.video-item__preview span {
	right: var(--space-3);
	bottom: var(--space-3);
}

.video-item--active .video-item__preview::after {
	content: 'LIVE';
	z-index: 2;
	left: var(--space-3);
	top: var(--space-3);
	background-color: var(--danger-color);
}

.video-item__description {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: var(--space-3);
}

.video-item__description .video-item__channel-img-wrapper {
	cursor: pointer;
}

.video-item__title {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	transition: var(--primary-transition);
}

.video-item__title span {
	cursor: pointer;
	display: block;
	text-align: left;
}

.video-item__title span:first-child {
	font-weight: var(--secondary-font-weight);
}

.video-item__title span:last-child {
	font-size: var(--font-size-1);
	color: var(--secondary-text-color);
}

.video-item__title a {
	transition: var(--primary-transition);
}

.video-item__title a:hover {
	color: var(--primary-ui-color);
}

.video-item__description button {
	padding: var(--space-3);
}
