* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	font-family: var(--primary-font-family);
	font-size: var(--font-size-2);
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
}

button {
	background-color: transparent;
	cursor: pointer;
}

::placeholder {
	font-family: var(--primary-font-family);
	font-size: var(--font-size-2);
	color: var(--secondary-text-color);
}

a {
	color: var(--primary-text-color);
}

.content {
	flex: 1;
	height: 0%;
	display: flex;
}

main {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	padding: var(--space-4);
}

.main-data {
	flex: 1;
}

.channel-item__info-wrapper {
	font-weight: var(--secondary-font-weight);
	min-width: 0;
}

.channel-item__info-wrapper span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right: var(--space-3);
}

.channel-item__img-wrapper {
	flex-shrink: 0;
	position: relative;
	width: 38px;
	height: 38px;
	margin-right: var(--space-3);
}

.channel-item__img-wrapper img {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: var(--space-5);
}
