* {
	padding: 0;
	margin: 0;
}

button,
input {
	border: none;
	outline: none;
	appearance: none;
	text-transform: none;
	overflow: visible;
	font-family: inherit;
	font-size: 100%;
	line-height: 1;
	margin: 0;
}

ul {
	list-style: none;
}

ul,
ul li,
ul ul li {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: 0;
}

a {
	appearance: none;
	text-decoration: none;
}
