:root {
	--primary-bg-color: #f1f2f6;
	--secondary-bg-color: white;
	--primary-ui-color: #ffa502;
	--secondary-ui-color: #dfe4ea;
	--tertiary-ui-color: #ced6e0;
	--primary-text-color: black;
	--secondary-text-color: #747d8c;
	--selection-text-color: white;
	--danger-color: #ff6348;
	--primary-font-family: 'Open Sans', sans-serif;
	--primary-font-weight: normal;
	--secondary-font-weight: 600;
	--font-size-1: 14px;
	--font-size-2: 16px;
	--font-size-3: 20px;
	--font-size-4: 24px;
	--space-1: 2px;
	--space-2: 4px;
	--space-3: 8px;
	--space-4: 16px;
	--space-5: 32px;
	--primary-transition: all 0.2s;

	--header-height: 80px;
	--side-panel-width: 300px;
}
